---
import Layout from "../layouts/Layout.astro";
import ProjectItem from "../components/ProjectItem.astro";
import { currentProjects, selectedProjects } from "../db/db";
import { CV_LINK, msgs } from "../db/msg";
import { Image } from "astro:assets";
import mouse from "../assets/mouse.svg";
import clicked from "../assets/clicked.svg";
---

<Layout title="Ikrom's Portfolio">
  <main>
    <div>
      <Image
        src={mouse}
        width={20}
        height={20}
        alt="mouse"
        class="mouse-icon"
      />
    </div>

    <script>
      const cursorIcon = document.querySelector(".mouse-icon") as HTMLElement;

      if (!cursorIcon) throw new Error("Cursor element not found!");

      document.addEventListener("mousemove", (e) => {
        cursorIcon.style.left = `${e.clientX}px`;
        cursorIcon.style.top = `${e.clientY}px`;
        cursorIcon.style.opacity = "1";
      });

      document.addEventListener("mouseleave", () => {
        cursorIcon.style.opacity = "0";
      });

      document.addEventListener("mouseenter", () => {
        cursorIcon.style.opacity = "1";
      });
    </script>

    <div class="cv-link">
      <a href={CV_LINK}>
        {msgs.cv_txt}
      </a>
    </div>

    <h1 class="hi-txt">{msgs.greeting_txt}</h1>
    <p class="about-txt" set:html={msgs.about_txt} />
    <hr />

    <div class="social-links">
      {
        msgs.social_links.map((link) => (
          <a href={link.href}>
            {link.title} <span>↗</span>
          </a>
        ))
      }
    </div>

    <section class="portfolio">
      <div class="current-items">
        <h1 class="project-titles">Current projects</h1>
        <div class="projects">
          {
            currentProjects.map((item) => (
              <ProjectItem
                title={item.title}
                tools={item.tools}
                sourse={item.sourse}
                href={item.href}
              />
            ))
          }
        </div>
      </div>

      <div class="selected-items">
        <h1 class="project-titles">Selected projects</h1>
        <div class="projects">
          {
            selectedProjects.map((item) => (
              <ProjectItem
                title={item.title}
                tools={item.tools}
                sourse={item.sourse}
                href={item.href}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 5.5rem;
    padding-bottom: 4rem;
  }
  .mouse-icon {
    position: fixed;
    margin-bottom: 20px;
    margin-left: -6px;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease-in;
    user-select: none;
    -webkit-user-drag: none;
  }
  @media screen and (max-width: 600px) {
    .mouse-icon {
      display: none;
    }
  }

  .cv-link a {
    font-weight: 600;
    border: 1px dashed #ffffff3a;
    padding: 6px 10px;
    border-radius: 8px;
    background: -webkit-linear-gradient(45deg, var(--main-color), #df9755);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    display: inline;
    font-family: "Inter-Medium";
  }
  .cv-link a:hover {
    border: 1px dashed #ffffffb3;
  }
  .hi-txt {
    font-size: 24px;
    margin-top: 40px;
    opacity: 0.9;
  }
  hr {
    opacity: 0.15;
  }
  .about-txt {
    margin-top: 30px;
    max-width: 590px;
    line-height: 34px;
    color: #ffffffc0;
  }
  .skills-lists {
    margin-left: 20px;
    padding-left: 0;
    line-height: 30px;
    list-style: square;
    color: #ffffffc0;
  }
  .social-links {
    margin-top: 40px;
    display: flex;
    gap: 1rem;
  }
  .social-links a {
    color: #ffffffc0;
    text-decoration: none;
  }
  .social-links a span {
    opacity: 0;
    transition: 0.2s ease-in;
  }
  .social-links a:hover span {
    opacity: 1;
  }
  .social-links a:hover {
    color: var(--main-color);
    text-shadow: 0 0 6px var(--main-color);
  }
  .portfolio {
    margin-top: 10em;
  }
  .portfolio .project-titles {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 30px;
  }
  .portfolio .selected-items {
    margin-top: 60px;
  }

  .portfolio .projects {
    display: grid;
    gap: 25px;
  }
</style>
